{% load static %}
{% comment %} <header class="header-area"> {% endcomment %}
	<div class="header-top black-bg top-bar" id="topbar-dismiss">
		<div class="container-fluid top-bar-cross" style="cursor:auto;" >
			<i class="fas fa-times" id="top-cross" style="cursor:pointer;"></i>
		</div>
		<div class="container">
			<div class="row-x">
				<div class="top-bar-content">
					<i style="
						font-size: 26px;
						color: var(--color-sec);
					"class="fas fa-motorcycle p-0 m-0" 
					></i>
					<p class="p-0 m-0 top-bar-dialog" >JOIN RIDE TEAM!</p>
					<a href="#" class=" top-bar-apply">Apply Now</a>
				</div>
				{% comment %} <div class="col-lg-4 col-md-4 col-12 col-sm-4">
					<div class="welcome-area">
						<p>Default welcome msg!</p>
					</div>
				</div>
				<div class="col-lg-8 col-md-8 col-12 col-sm-8">
					<div class="account-curr-lang-wrap f-right">
						
					</div>
				</div> {% endcomment %}
			</div>
		</div>
	</div>
{% comment %} {% include "partials/mid_header.html" %}
{% include "partials/_navbar.html" %} {% endcomment %}
{% include "partials/ajax.html" %}
{% comment %} </header> {% endcomment %}