{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
    {{ block.super }} | Password Change
{% endblock  %}

{% block content %}

<div class="breadcrumb-area gray-bg">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href={% url 'home:home' %}>Home</a></li>
                <li class="active"> Auth</li>
            </ul>
        </div>
    </div>
</div>
<!--- Password Change-->
<div class="login-register-area pt-20 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav pb-3">
                        <a class="active" data-toggle="tab" href="#lg1">
                            <h4> Password Change </h4>
                        </a>
                    </div>
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form enctype="multipart/form-data" action="" method="post"> {% csrf_token %}
                                        {{ form.non_field_errors }}
                                        {{form|crispy}}
                                        <div class="button-box pt-3">
                                            <button type="submit"><span>Save Change</span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

{% endblock content %}    

