{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
    {{ block.super }} | Password Change Done
{% endblock  %}

{% block content %}

<div class="breadcrumb-area gray-bg">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href={% url 'home:home' %}>Home</a></li>
                <li class="active"> Auth</li>
            </ul>
        </div>
    </div>
</div>
<!--- password reset done-->
<div class="login-register-area pt-20 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a class="active" data-toggle="tab" href="#lg1">
                            <h4> Password Change Done </h4>
                        </a>
                    </div>
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <div class="text-center">
                                        <p class="text-success text-center">Password changed succesfully. Please keep your password secret.</p>
                                        <br>
                                        <div class="button-box">
                                            <button class=""><a href={% url 'auth:login' %}>Login</a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

{% endblock content %}    

