{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
    {{ block.super }} | {{ title }}
{% endblock  %}

{% block content %}

<div class="breadcrumb-area gray-bg">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href={% url 'home:home' %}>Home</a></li>
                <li class="active"> Auth</li>
            </ul>
        </div>
    </div>
</div>
<!--- login form-->
<div class="login-register-area pt-20 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a class="active" data-toggle="tab" href="#lg2">
                            <h4> {{ main_heading }} </h4>
                        </a>
                        <a href={% url 'auth:login' %}>
                            <h4> login </h4>
                        </a>
                    </div>
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form action="" method="post"> {% csrf_token %}
                                        {{ form.non_field_errors }}
                                        {{form|crispy}}
                                        <div class="button-box">
                                            <div class="login-toggle-btn">
                                                {% if current_step == 2 %}
                                                <a href={% url 'auth:password_reset' %}>Haven't got any CODE? Retry!</a>
                                                {% endif %}
                                            </div>
                                            <button type="submit"><span>{{submit_btn_text}}</span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

{% endblock content %}    

