{% extends 'base.html' %}
{% load static %}

    {% block content %}
    
    <div class="breadcrumb-area gray-bg">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active"> Auth</li>
                </ul>
            </div>
        </div>
    </div>
    <!--- register form-->
    <div class="login-register-area pt-20 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                    <div class="login-register-wrapper">
                        <div class="login-register-tab-list nav">
                            
                            <a class="active" data-toggle="tab" href="#lg2">
                                <h4> register </h4>
                            </a>
                            <a href="/login">
                                <h4> login </h4>
                            </a>
                        </div>
                        <div class="tab-content">
                            <div id="lg2" class="tab-pane active">
                                <div class="login-form-container">
                                    <div class="login-register-form">
                                        <form action="#" method="post"> {% csrf_token %}
                                            {{form}}
                                            <!-- <input type="text" name="user-name" placeholder="Username">
                                            <input type="password" name="user-password" placeholder="Password">
                                            <input name="user-email" placeholder="Email" type="email"> -->
                                            <div class="button-box">
                                                <button type="submit"><span>Register</span></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        

    {% endblock content %}    
    </body>
</html>
