{% extends "adminPanel/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
User Details
{% endblock title %}

{% block content %}
    <div class="br-mainpanel">
    
        <div class="br-pageheader pd-y-15 pd-l-20">
            <nav class="breadcrumb pd-0 mg-0 tx-12">
                <a class="breadcrumb-item" href="{% url 'adminpanel:home' %}">Home</a>
                <span class="breadcrumb-item active">User Details</span>
            </nav>
        </div>

        <div class="br-pagebody">
            <div class="br-section-wrapper">
                <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">User Details</h6>
                <form action="" method="POST" enctype="multipart/form-data" onsubmit="return confirm('Are Your Sure, Verified The Store!')">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% comment %} {% if 'adminpanel/user/' in request.path %}
                        {% if form.instance.is_verified %}
                            {% if form.instance.is_active %}
                                <a  href="{% url 'adminpanel:store_deactive' store.id %}" class="btn btn-warning ml-3 mt-3"  onclick="return confirm('Are Your Sure, Deactive The Store!')" >Deactive Store</a>
                                <a  href="{% url 'adminpanel:store_details_update' store.id %}" class="btn btn-primary ml-3 mt-3" >Update Store</a>
                                <a onclick="return confirm('Are Your Sure, Delete The Store!')" href="{% url 'adminpanel:store_delete' store.id %}" class="btn btn-danger ml-3 mt-3" >Delete Store</a>
                            {% else %}
                                <a  href="{% url 'adminpanel:store_active' store.id %}" class="btn btn-warning ml-3 mt-3"  onclick="return confirm('Are Your Sure, Deactive The Store!')" >Active Store</a>
                                <a  href="{% url 'adminpanel:store_details_update' store.id %}" class="btn btn-primary ml-3 mt-3" >Update Store</a>
                                <a  href="{% url 'adminpanel:store_delete' store.id %}" class="btn btn-danger ml-3 mt-3" onclick="return confirm('Are Your Sure, Delete The Store!')">Delete Store</a>
                            {% endif %}
                        {% else %}
                            <a  href="{% url 'adminpanel:store_details_update' store.id %}" class="btn btn-warning ml-3 mt-3">Update Store</a>
                            <a onclick="return confirm('Are Your Sure, Delete The Store!')" href="{% url 'adminpanel:store_delete' store.id %}" class="btn btn-danger ml-3 mt-3" >Delete Store</a>
                        {% endif %}
                    {% else %}
                        <input type="submit" class="btn btn-success mt-3" value="Add Store" name="submit"/>
                        <a onclick="return confirm('Are Your Sure, Delete The Store!')" href="{% url 'adminpanel:store_delete' store.id %}" class="btn btn-danger ml-3 mt-3" >Delete Store</a>
                    {% endif %} {% endcomment %}
                </form>
            </div>
        </div>
        <!-- footer -->
        {% include "adminPanel/partials/footer.html" %}
    </div>
    
{% endblock content %}