{% extends 'base.html' %}
{% load static %}
    
{% block content %}
    <div class="banner container-fluid p-0" > <!--style="background-image:url({% static 'assets/images/home/banner1-min.png-x' %});"-->
        <div class="banner-img">
            <img src="{% static 'assets/images/home/banner1-min.png' %}" alt="banner1">
        </div>
        <div class="container banner-content">
            <div class="slider-content-x slider-animated-1 banner-content-x">
                <h1 class="animated banner-title"  data-aos="fade-right">TAWSIL  EXPRESS</h1>
                <h3 class="animated banner-subtitle">good food and express delivery.</h3>
                <div class="slider-btn-x mt-30">
                    <form action="" >{% csrf_token %}
                        <div class="search-form">
                            <div>
                                <div class="search-in" ></div>
                                <input style="position:relative;bottom:61px;" class="search-in " type="text" placeholder="Search You Food Or Track Your Percel">
                            </div>
                            <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
                        </div>
                        
                    </form>
                    {% comment %} <a class="animated" href="product-details.html">Order Now</a> {% endcomment %}
                </div>
            </div>
        </div>
    </div>

    <div class='container mt-50 mb-100 banne-two'>
        <div class='row flex-column-reverse flex-md-row'>
            <div class="col-sm-12 col-md-6 banner-two-left">
                <h1>tawsil express</h1>
                <p class="subtitle">YOUR DELIVERY PARTNER</p>
                <p class="banner-two-left-details mb-40">
                    TAWSIL EXPRESS aims to aid Bangladesh’s expanding e-commerce sector by providing techfirst logiscs support. With exclusive features and a talented workforce, TAWSIL EXPRESS gives the delivery service industry of Bangladesh a brand new pace.
                </p>
                <a href="#" class="ah">become merchent</a>
            </div>
            <div class="col-sm-12 col-md-6 banner-two-right">
                <img src="{% static 'home/Moving-Truck-Vector.png' %}" alt="banner two img">
            </div>
        </div>
    
        <!--popular cousine start-->
            {% include "home/popularCousine.html" %}
        <!--popular cousine end-->
    
        <!--prepare food start-->
        <h1 class="prepare-food-title  mt-50 text-center color-sec ">YOU PREPARE THE FOOD WE HANDLE THE REST</h1>
        <div class="row prepare-foodflex-column-reverse flex-md-row">
            <div class="col-sm-12 col-md-6 prepare-food-left p-0 m-0">
                <img src="{% static "home/foodpre.png" %}" alt="" style="object-fit:cover;">
                <div class="prepare-food-left-details">
                    <p class="prepare-food-left-details-p1">LIST YOUR RESTAURANT ON </p>
                    <p class="prepare-food-left-details-p2">tawsil</p>
                    <div class='left-desc pt-30'>
                        <div class='left-desc-one'>
                            <i class="fas fa-arrow-circle-right left-desc-one-icon" ></i>
                            <p class="left-desc-one-details m-0 p-0">Would you like thousands of new customers to taste youramazingfood? So would we!</p>
                        </div>
                        <div class='left-desc-one pt-40'>
                            <i class="fas fa-arrow-circle-right left-desc-one-icon" ></i>
                            <p class="left-desc-one-details m-0 p-0">It's simple: we list your menu online, help you process orders, pick them up, and deliver them to your customer</p>
                        </div>
                    </div>
                    <p class="pt-10 color-sec">Interested? Let's start our </br>partnership today!</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 prepare-food-right p-0 m-0">
                <img src="{% static 'home/vita-marija-murenaite-OV_kIcdrgCs-unsplash.jpg' %}" class="w-100" style="height:500px; object-fit:cover" alt="">
                {% comment %} <img src="{% static 'home/lum3n-cHc5H3_FKhs-unsplash.jpg' %}" class="w-100" style="height:700px" alt=""> {% endcomment %}
            </div>
        </div>
        <!--prepare food end-->

        <!-- best food start-->
            {% include "home/bestFood.html" %}
        <!-- best food end-->

        <!--TAWSIL FOOD START-->
            <div class='row'>
                <div class='col-12 col-sm-12 col-md-6 col-xl-6 col-lg-6 text-center' >
                    <div class='d-flex flex-column pt-5 tawsil-food-left'>
                        <h1>tawsil <span>food</span> </h1>
                        <p>for business</p>
                        <div class='d-flex flex-column text-left'>
                            <div class='d-flex flex-row align-items-center'>
                                <i class="fas fa-arrow-circle-right pr-5" style="font-size: 30px;color: var(--color-sec);"></i>
                                <p class='p-0 m-0'>Order Lunch, Fuel For Meetings To The Office.</p>
                            </div>

                            <div>
                                <i class="fas fa-arrow-circle-right" style="font-size: 30px;color: var(--color-sec);"></i>
                                <p>Your Favorite Food Coming To a Desk Near You.</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class='col-12 col-sm-12 col-md-6 col-xl-6 col-lg-6' style='background-color:green;'>world</div>
            </div>
        <!--TAWSIL FOOD END-->
    </div>
            <!--working start-->
            {% comment %} <div class="popular-cousine mt-30" "> <!-- style="background:#6bffe338; -->
                <img src="{% static 'home/cousine-banner.png' %}" alt="" class="top-banner">
                
                <div class='row justify-content-start align-items-center cousine mt-20'>
                    {% for pc in popular_cousine %}
                        {% static  pc.img as the_img %}
                        
                        <div class='col-md-4 col-sm-6 col-lg-3 card-x' style="width: 18rem;">
                            <div class="card-body" style="text-align:center">
                                <img class="card-img-top" src="{{the_img}}" style="border-radius:10px; width:215px; height:250px; object-fit:cover;" alt="Card image cap">
                                <p class="card-text mb-20" style="font-size: 20px;font-weight: 700;padding-top: 10px;text-align: center;text-transform:uppercase;">
                                {{ pc.name }}
                                </p>
                                <a href="#" style="text-transform: uppercase;color: var(--color-pri);font-size:20px;font-weight: 500;background: var(--color-sec);padding: 7px 14px;border-radius: 5px;">explore</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="cousine_show_all">
                    <a href="#">show all</a>
                </div> 
            </div> {% endcomment %}

    <!--working end-->
    

    
    <div class="banner-area row-col-decrease pt-100 pb-75 clearfix">
        <div class="container">
            <div class="banner-left-side mb-20">
                <div class="single-banner">
                    <div class="hover-style">
                        <a href="#"><img src="{% static 'assets/images/banner/banner-1.jpg' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="banner-right-side mb-20">
                <div class="single-banner mb-20">
                    <div class="hover-style">
                        <a href="#"><img src="{% static 'assets/images/banner/banner-1.jpg' %}" alt=""></a>
                    </div>
                </div>
                {% comment %} <div class="single-banner">
                    <div class="hover-style">
                        <a href="#"><img src="{% static 'assets/images/banner/banner-3.jpg' %}" alt=""></a>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>

        {% comment %} <div class="banner-area">
            <div class="container">
                <div class="discount-overlay bg-img pt-130 pb-130" ><!--style="background-image:url(assets/images/banner/banner-4.jpg);"-->
                    <div class="discount-content text-center">
                        <h3>It’s Time To Start <br>Your Own Revolution By Laurent</h3>
                        <p>Exclusive Offer -10% Off This Week</p>
                        <div class="banner-btn">
                            <a href="#">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="brand-logo-area pb-100">
            <div class="container">
                <div class="brand-logo-active owl-carousel">
                    <div class="single-brand-logo">
                        <img alt="" src="{% static 'assets/images/brand-logo/logo-1.png' %}">
                    </div>
                    <div class="single-brand-logo">
                        <img alt="" src="{% static 'assets/images/brand-logo/logo-2.png' %}">
                    </div>
                    <div class="single-brand-logo">
                        <img alt="" src="{% static 'assets/images/brand-logo/logo-3.png' %}">
                    </div>
                    <div class="single-brand-logo">
                        <img alt="" src="{% static 'assets/images/brand-logo/logo-4.png' %}">
                    </div>
                    <div class="single-brand-logo">
                        <img alt="" src="{% static 'assets/images/brand-logo/logo-5.png' %}">
                    </div>
                    <div class="single-brand-logo">
                        <img alt="" src="{% static 'assets/images/brand-logo/logo-2.png' %}">
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <!-- Thumbnail Large Image start -->
                                <div class="tab-content">
                                    <div id="pro-1" class="tab-pane fade show active">
                                        <img src="{% static 'assets/images/product-details/product-detalis-l1.jpg' %}" alt="">
                                    </div>
                                    <div id="pro-2" class="tab-pane fade">
                                        <img src="{% static 'assets/images/product-details/product-detalis-l2.jpg' %}" alt="">
                                    </div>
                                    <div id="pro-3" class="tab-pane fade">
                                        <img src="{% static 'assets/images/product-details/product-detalis-l3.jpg' %}" alt="">
                                    </div>
                                    <div id="pro-4" class="tab-pane fade">
                                        <img src="{% static 'assets/images/product-details/product-detalis-l4.jpg' %}" alt="">
                                    </div>
                                </div>
                                <!-- Thumbnail Large Image End -->
                                <!-- Thumbnail Image End -->
                                <div class="product-thumbnail">
                                    <div class="thumb-menu owl-carousel nav nav-style" role="tablist">
                                        <a class="active" data-toggle="tab" href="#pro-1"><img src="{% static 'assets/images/product-details/product-detalis-s1.jpg' %}" alt=""></a>
                                        <a data-toggle="tab" href="#pro-2"><img src="{% static 'assets/images/product-details/product-detalis-s2.jpg' %}" alt=""></a>
                                        <a data-toggle="tab" href="#pro-3"><img src="{% static 'assets/images/product-details/product-detalis-s3.jpg' %}" alt=""></a>
                                        <a data-toggle="tab" href="#pro-4"><img src="{% static 'assets/images/product-details/product-detalis-s4.jpg' %}" alt=""></a>
                                    </div>
                                </div>
                                <!-- Thumbnail image end -->
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <div class="modal-pro-content">
                                    <h3>PRODUCTS NAME HERE </h3>
                                    <div class="product-price-wrapper">
                                        <span>$120.00</span>
                                        <span class="product-price-old">$162.00 </span>
                                    </div>
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.</p>	
                                    <div class="quick-view-select">
                                        <div class="select-option-part">
                                            <label>Size*</label>
                                            <select class="select">
                                                <option value="">S</option>
                                                <option value="">M</option>
                                                <option value="">L</option>
                                            </select>
                                        </div>
                                        <div class="quickview-color-wrap">
                                            <label>Color*</label>
                                            <div class="quickview-color">
                                                <ul>
                                                    <li class="blue">b</li>
                                                    <li class="red">r</li>
                                                    <li class="pink">p</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-quantity">
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="02">
                                        </div>
                                        <button>Add to cart</button>
                                    </div>
                                    <span><i class="fa fa-check"></i> In stock</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal end -->
        
    {% endblock content %}
    </body>
</html>
