{% extends 'base.html' %}
{% load static %}
    
{% block content %}
    <div class="banner container-fluid p-0" > <!--style="background-image:url({% static 'assets/images/home/banner1-min.png-x' %});"-->
        <div class="banner-img">
            <img src="{% static 'assets/images/home/banner1-min.png' %}" alt="banner1">
        </div>
        <div class="container banner-content">
            <div class="slider-content-x slider-animated-1 banner-content-x">
                <h1 class="animated banner-title"  data-aos="fade-right">TAWSIL  EXPRESS</h1>
                <h3 class="animated banner-subtitle">good food and express delivery.</h3>
                <div class="slider-btn-x mt-30">
                    <form action="GET" >{% csrf_token %}
                        <div class="search-form">
                            <div>
                                <div class="search-in"></div>
                                <input style="" class="search-in search-in-2 " type="text" placeholder="Search You Food Or Track Your Percel">
                            </div>
                            <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
                        </div>
                        
                    </form>
                    {% comment %} <a class="animated" href="product-details.html">Order Now</a> {% endcomment %}
                </div>
            </div>
        </div>
    </div>

    <div class='container mt-50 mb-100 banne-two'>
        <div class='row flex-column-reverse flex-md-row'>
            <div class="col-sm-12 col-md-6 banner-two-left">
                <h1>tawsil express</h1>
                <p class="subtitle">YOUR DELIVERY PARTNER</p>
                <p class="banner-two-left-details mb-40">
                    TAWSIL EXPRESS aims to aid Bangladesh’s expanding e-commerce sector by providing techfirst logiscs support. With exclusive features and a talented workforce, TAWSIL EXPRESS gives the delivery service industry of Bangladesh a brand new pace.
                </p>
                <a href="{% url 'express:register_merchant' %}" class="ah">become merchent</a>
            </div>
            <div class="col-sm-12 col-md-6 banner-two-right">
                <img src="{% static 'home/Moving-Truck-Vector.png' %}" alt="banner two img">
            </div>
        </div>
    
        <!--popular cousine start-->
            {% include "home/popularCousine.html" %}
        <!--popular cousine end-->
    
        <!--prepare food start-->
        <h1 class="prepare-food-title  mt-50 text-center color-pri-2 ">YOU PREPARE THE FOOD WE HANDLE THE REST</h1>
        <div class="row prepare-food flex-column-reverse flex-md-row">
            <div class="col-sm-12 col-md-6 prepare-food-left p-0 m-0">
                <img src="{% static "home/foodpre.png" %}" alt="" style="object-fit:cover;">
                <div class="prepare-food-left-details">
                    <p class="prepare-food-left-details-p1">LIST YOUR RESTAURANT ON </p>
                    <p class="prepare-food-left-details-p2">tawsil</p>
                    <div class='left-desc pt-30'>
                        <div class='left-desc-one'>
                            <i class="fas fa-arrow-circle-right left-desc-one-icon" ></i>
                            <p class="left-desc-one-details m-0 p-0">Would you like thousands of new customers to taste youramazingfood? So would we!</p>
                        </div>
                        <div class='left-desc-one pt-40'>
                            <i class="fas fa-arrow-circle-right left-desc-one-icon" ></i>
                            <p class="left-desc-one-details m-0 p-0">It's simple: we list your menu online, help you process orders, pick them up, and deliver them to your customer</p>
                        </div>
                    </div>
                    <p class="pt-10 color-sec">Interested? Let's start our </br>partnership today!</p>
                    <a href="{% url 'vendors:register_store' %}" class="ah">GET STARTED!</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 prepare-food-right p-0 m-0">
                <img src="{% static 'home/vita-marija-murenaite-OV_kIcdrgCs-unsplash.jpg' %}" class="w-100" style="height:500px; object-fit:cover" alt="">
                {% comment %} <img src="{% static 'home/lum3n-cHc5H3_FKhs-unsplash.jpg' %}" class="w-100" style="height:700px" alt=""> {% endcomment %}
            </div>
        </div>
        <!--prepare food end-->

        <!-- TAWSIL LUNCH START-->
        {% include "home/tawsilLunch.html" %}
        <!-- TAWSIL LUNCH END-->
    </div>
            <!--working start-->


        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <!-- Thumbnail Large Image start -->
                                <div class="tab-content">
                                    <div id="pro-1" class="tab-pane fade show active">
                                        <img src="{% static 'assets/images/product-details/product-detalis-l1.jpg' %}" alt="">
                                    </div>
                                    <div id="pro-2" class="tab-pane fade">
                                        <img src="{% static 'assets/images/product-details/product-detalis-l2.jpg' %}" alt="">
                                    </div>
                                    <div id="pro-3" class="tab-pane fade">
                                        <img src="{% static 'assets/images/product-details/product-detalis-l3.jpg' %}" alt="">
                                    </div>
                                    <div id="pro-4" class="tab-pane fade">
                                        <img src="{% static 'assets/images/product-details/product-detalis-l4.jpg' %}" alt="">
                                    </div>
                                </div>
                                <!-- Thumbnail Large Image End -->
                                <!-- Thumbnail Image End -->
                                <div class="product-thumbnail">
                                    <div class="thumb-menu owl-carousel nav nav-style" role="tablist">
                                        <a class="active" data-toggle="tab" href="#pro-1"><img src="{% static 'assets/images/product-details/product-detalis-s1.jpg' %}" alt=""></a>
                                        <a data-toggle="tab" href="#pro-2"><img src="{% static 'assets/images/product-details/product-detalis-s2.jpg' %}" alt=""></a>
                                        <a data-toggle="tab" href="#pro-3"><img src="{% static 'assets/images/product-details/product-detalis-s3.jpg' %}" alt=""></a>
                                        <a data-toggle="tab" href="#pro-4"><img src="{% static 'assets/images/product-details/product-detalis-s4.jpg' %}" alt=""></a>
                                    </div>
                                </div>
                                <!-- Thumbnail image end -->
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <div class="modal-pro-content">
                                    <h3>PRODUCTS NAME HERE </h3>
                                    <div class="product-price-wrapper">
                                        <span>$120.00</span>
                                        <span class="product-price-old">$162.00 </span>
                                    </div>
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.</p>	
                                    <div class="quick-view-select">
                                        <div class="select-option-part">
                                            <label>Size*</label>
                                            <select class="select">
                                                <option value="">S</option>
                                                <option value="">M</option>
                                                <option value="">L</option>
                                            </select>
                                        </div>
                                        <div class="quickview-color-wrap">
                                            <label>Color*</label>
                                            <div class="quickview-color">
                                                <ul>
                                                    <li class="blue">b</li>
                                                    <li class="red">r</li>
                                                    <li class="pink">p</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-quantity">
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="02">
                                        </div>
                                        <button>Add to cart</button>
                                    </div>
                                    <span><i class="fa fa-check"></i> In stock</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal end -->
        
    {% endblock content %}
    </body>
</html>
