{% load static %}

<!--tawsil lunch food start-->
<h1 class="prepare-food-title  mt-50 text-center color-pri-2 ">TAKE YOUR OFFICE TO <span class="color-sec">LUNCH</span> </h1>
<div class="row prepare-food flex-column-reverse flex-md-row">
    <div class="col-sm-12 col-md-6 prepare-food-left p-0 m-0">
        <img src="{% static "home/foodpre.png" %}" alt="" style="object-fit:cover;">
        <div class="prepare-food-left-details tawsil-food-left">
            {% comment %} <p class="prepare-food-left-details-p1">LIST YOUR RESTAURANT ON </p>
            <p class="prepare-food-left-details-p2">tawsil</p> {% endcomment %}
            <h1>tawsil <span>food</span> </h1>
            <p style="color:white;">for business</p>
            <div class='left-desc pt-30'>
                <div class='left-desc-one'>
                    <i class="fas fa-arrow-circle-right left-desc-one-icon" ></i>
                    <p class="left-desc-one-details m-0 p-0">Would you like thousands of new customers to taste youramazingfood? So would we!</p>
                </div>
                <div class='left-desc-one pt-40'>
                    <i class="fas fa-arrow-circle-right left-desc-one-icon" ></i>
                    <p class="left-desc-one-details m-0 p-0">It's simple: we list your menu online, help you process orders, pick them up, and deliver them to your customer</p>
                </div>
            </div>
            <p class="pt-10 color-sec">Interested? Let's start our </br>partnership today!</p>
            <a href="#" class="ah">Order Now!</a>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 prepare-food-right p-0 m-0 d-flex justify-content-center align-items-center">
        <div class="row pl-60 pr-60" >
            <img src="https://source.unsplash.com/user/erondu/200x200" style="width:200px; height:200px; object-fit:cover;" class="col-6">
            <img src="https://source.unsplash.com/user/erondu/200x200" style="width:200px; height:200px; object-fit:cover;" class="col-6">
            <img src="https://source.unsplash.com/user/erondu/200x200" style="width:200px; height:200px; object-fit:cover;" class="col-6 pt-20">
            <img src="https://source.unsplash.com/user/erondu/200x200" style="width:200px; height:200px; object-fit:cover;" class="col-6 pt-20">
        </div>
        {% comment %} <img src="{% static 'home/vita-marija-murenaite-OV_kIcdrgCs-unsplash.jpg' %}" class="w-100" style="height:500px; object-fit:cover" alt=""> {% endcomment %}
        {% comment %} <img src="{% static 'home/lum3n-cHc5H3_FKhs-unsplash.jpg' %}" class="w-100" style="height:700px" alt=""> {% endcomment %}
    </div>
</div>
<!--tawsil lunch food end-->